# API

**O que é uma API?**

- A expressão Application Programming Interface, ou, em português, Interface de Programação de Aplicativos, originou o acrônimo API. 

- As APIs permitem que o usuário final utilize um aplicativo, software ou até uma simples planilha, consultando, alterando e armazenando dados de diversos sistemas, sem que o usuário precise acessá-los diretamente.

- O intuito de uma API é trocar dados entre sistemas diferentes, na maior parte das vez essas trocas de dados tem como objetivo automatizar processos manuais e/ou permitir a criação de novas funcionalidades.


**Qual tipo de problema que vamos resolver?**

R - Fornecer os dados de um dataset para serem acessíveis a qualquer momento por meio das APIs web podendo ler e transferir entre sistemas baseados na web ou arquitetura cliente-servidor.

# Configurando o ambiente

Aqui temos todas as bibliotecas que utilizaremos neste notebook.

In [1]:
from flask import Flask
import pandas as pd
import requests

# Carregando os dados

Pegaremos os dados diretamente do repositório no github assim eles podem ser atualizados e, com isso estaremos preparados para identificar novas aplicabilidades aos dados.

In [2]:
tabela = pd.read_excel("Vendas - Dez.xlsx")

display(tabela)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,65014,2022-04-01,Shopping 1,Camisa,1,30,30
1,65037,2022-02-01,Shopping 2,Casaco,5,70,350
2,65060,2022-05-05,Shopping 3,Gorro,8,17,136
3,65083,2022-04-01,Shopping 4,Cueca,1,5,5
4,65106,2022-02-01,Shopping 5,Sunga,1,8,8
5,65129,2022-05-05,Shopping 6,Polo,5,30,150
6,65152,2022-04-01,Shopping 7,Tênis,6,150,900
7,65175,2022-02-01,Shopping 8,Pulseira,1,1,1
8,65198,2022-05-05,Shopping 9,Camisera,5,28,140
9,65221,2022-04-01,Shopping 10,Calça,6,50,300
10,65244,2022-02-01,Shopping 11,Calça Xadrez,1,52,52
11,65267,2022-05-05,Shopping 12,Short,5,40,200
12,65290,2022-04-01,Shopping 13,Short Xadrez,6,42,252
13,65313,2022-02-01,Shopping 14,Camisa Lisa,1,29,29
14,65336,2022-05-05,Shopping 15,Camisa Xadrez,5,29,145
15,65359,2022-04-01,Shopping 16,sandalha,6,5,30

# Configurando a API

A configuração de um método de API define o método e descreve seus comportamentos. Para configurar um método, você deve especificar um recurso, incluindo a raiz ("/").

In [ ]:
# Cria o site 
app = Flask(__name__)

@app.route("/")
def hello_world():
    return "Informações da API"

# Informação do faturamento total

@app.route("/faturamento")
def faturamento():
    faturamento = float(tabela["Valor Final"].sum())
    return {"faturamento": faturamento}

# Informação das vendas

@app.route("/vendas")
def vendas():
    dic_vendas = tabela.to_dict()
    return dic_vendas

# Informação do produto

@app.route("/vendas/<produto>")
def vendasprodutos(produto):
    tabela_2 = tabela[["Produto","Valor Final"]]
    tabela_2 = tabela_2.set_index('Produto')
    if produto in tabela_2.index:
        vendas_produto = tabela_2.loc[produto]
        dic_vendas = vendas_produto.to_dict()
        return {produto: dic_vendas}
    else:
        return {produto: "Inexistente"}

In [ ]:
# Colocar o site no ar

app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

# Consumindo a API 📈

As informações do código foram hospedadas no portal do https://replit.com/

- Consumindo informações do Faturamento do dataset

In [5]:
link1 = "https://Python.diogoferrer.repl.co/faturamento"

requisicao1 = requests.get(link1)

In [6]:
print(requisicao1.json())

{'faturamento': 2728.0}

- Consumindo informações das Vendas do dataset

In [14]:
link2 = "https://Python.diogoferrer.repl.co/vendas"

requisicao2 = requests.get(link2)

In [8]:
print(requisicao2.json())

{'Código Venda': {'0': 65014, '1': 65037, '2': 65060, '3': 65083, '4': 65106, '5': 65129, '6': 65152, '7': 65175, '8': 65198, '9': 65221, '10': 65244, '11': 65267, '12': 65290, '13': 65313, '14': 65336, '15': 65359}, 'Data': {'0': 'Fri, 01 Apr 2022 00:00:00 GMT', '1': 'Tue, 01 Feb 2022 00:00:00 GMT', '2': 'Thu, 05 May 2022 00:00:00 GMT', '3': 'Fri, 01 Apr 2022 00:00:00 GMT', '4': 'Tue, 01 Feb 2022 00:00:00 GMT', '5': 'Thu, 05 May 2022 00:00:00 GMT', '6': 'Fri, 01 Apr 2022 00:00:00 GMT', '7': 'Tue, 01 Feb 2022 00:00:00 GMT', '8': 'Thu, 05 May 2022 00:00:00 GMT', '9': 'Fri, 01 Apr 2022 00:00:00 GMT', '10': 'Tue, 01 Feb 2022 00:00:00 GMT', '11': 'Thu, 05 May 2022 00:00:00 GMT', '12': 'Fri, 01 Apr 2022 00:00:00 GMT', '13': 'Tue, 01 Feb 2022 00:00:00 GMT', '14': 'Thu, 05 May 2022 00:00:00 GMT', '15': 'Fri, 01 Apr 2022 00:00:00 GMT'}, 'ID Loja': {'0': 'Shopping 1', '1': 'Shopping 2', '2': 'Shopping 3', '3': 'Shopping 4', '4': 'Shopping 5', '5': 'Shopping 6', '6': 'Shopping 7', '7': 'Shopping 8', '8': 'Shopping 9', '9': 'Shopping 10', '10': 'Shopping 11', '11': 'Shopping 12', '12': 'Shopping 13', '13': 'Shopping 14', '14': 'Shopping 15', '15': 'Shopping 16'}, 'Produto': {'0': 'Camisa', '1': 'Casaco', '2': 'Gorro', '3': 'Cueca', '4': 'Sunga', '5': 'Polo', '6': 'Tênis', '7': 'Pulseira', '8': 'Camisera', '9': 'Calça', '10': 'Calça Xadrez', '11': 'Short', '12': 'Short Xadrez', '13': 'Camisa Lisa', '14': 'Camisa Xadrez', '15': 'sandalha'}, 'Quantidade': {'0': 1, '1': 5, '2': 8, '3': 1, '4': 1, '5': 5, '6': 6, '7': 1, '8': 5, '9': 6, '10': 1, '11': 5, '12': 6, '13': 1, '14': 5, '15': 6}, 'Valor Final': {'0': 30, '1': 350, '2': 136, '3': 5, '4': 8, '5': 150, '6': 900, '7': 1, '8': 140, '9': 300, '10': 52, '11': 200, '12': 252, '13': 29, '14': 145, '15': 30}, 'Valor Unitário': {'0': 30, '1': 70, '2': 17, '3': 5, '4': 8, '5': 30, '6': 150, '7': 1, '8': 28, '9': 50, '10': 52, '11': 40, '12': 42, '13': 29, '14': 29, '15': 5}}

- Consumindo a informação do valor faturado por Produto

In [12]:

link3 = "https://Python.diogoferrer.repl.co/vendas/Luva"

requisicao3 = requests.get(link3)

In [13]:
print(requisicao3.json())

{'Luva': 'Inexistente'}